.imageWrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  
  img {
    display: block;
    max-width: 100%;
  }

  .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    transform: scale(1.1); // Prevent blur edges from showing
  }
}
